<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="dashboard-stats">
    <h2>Store Statistics</h2>
    <ul>
      <li>
        <span>Total Products:</span> <%= @product_count %>
      </li>
      <li>
        <span>Total Categories:</span> <%= @category_count %>
      </li>
    </ul>
  </div>

</section>
